# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:Roseo002@localhost:3306/cecdb"
JWT_SECRET="b766b96f92038ef2cded7ce93d0263cfa4c447370fcafc34d22eed316da334e9bd5bdd39205b6e324b31eee6594ea8327e0056d8f4967c1790b4967
159d4425e"
MAILERSEND_API_KEY="mlsn.1433fbd0e682a2c665a10bbd606bc12b4ee600ec728e29fb653d03da0fce0664"
